#cont_index
{
	/*border: thin dotted #00FF00;*/
	position: relative;
    width:900px;
    /*BACKGROUND-COLOR: #ECF4FB;*/
}
#index
{
	/*border: thin dotted #00FF00;*/
	position: relative;
    width:900px;

}
#cont_administracion
{
	/*border: thin dotted #00FF00;*/
	position: relative;
    width:900px;
    /*BACKGROUND-COLOR: #ECF4FB;*/
}
#administracion
{
	/*border: thin dotted #00FF00;*/
	position: relative;
    width:900px;
}
#cont_gestionUsuario
{
	position: relative;
    width:900px;
}
#gestionUsuario
{
	position: relative;
    width:900px;
}
#cont_vulnerabilidades
{
	position: relative;
    width:900px;
}
#vulnerabilidades
{
	position: relative;
    width:900px;
}
#cont_miperfil
{
	position: relative;
    width:900px;

}
#miperfil
{
	position: relative;
    width:900px;
}
#cont_biblioteca
{
	/*border: thin dotted #00FF00;*/
	position: relative;
    width:900px;
    /*BACKGROUND-COLOR: #ECF4FB;*/
}
#biblioteca
{
	/*border: thin dotted #00FF00;*/
	position: relative;
    width:900px;
}
#cont_proyecto
{
	/*border: thin dotted #00FF00;*/
	position: relative;
    width:900px;
    /*BACKGROUND-COLOR: #ECF4FB;*/
}
#proyecto
{
	/*border: thin dotted #00FF00;*/
	position: relative;
    width:900px;
}
#cont_indicadores
{
	/*border: thin dotted #00FF00;*/
	position: relative;
    width:900px;
    /*BACKGROUND-COLOR: #ECF4FB;*/
}
#indicadores
{
	/*border: thin dotted #00FF00;*/
	position: relative;
    width:900px;
}
